@import "../bootstrap/less/variables.less";

body {
   padding-top: 60px;
   padding-bottom: 40px;
}

footer {
   text-align:center;
   font-size:12px;
   font-weight:bold;
   margin-top:-20px;
   width:100%;
   display:block;
   height:20px;   /* Height of the footer */
}

#mainContainer {
    padding-bottom:20px;
}

.imgbrand {
    height:35px;
    width:35px;
    padding-right: 10px;
}

.navbar .brand {
    padding: 3px 20px 2px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: @isbAccent;
    color: @white;
}

.hero-unit .carousel-caption {
    background-color: @isbGray;
    color: @white;
}

.carousel-inner {
    text-align:center;
}

.carousel-caption a {
    color: @isbOrange;
}

a {
    color: @isbBlue;
}

a:hover {
    color: @isbOrange;
}

.hero-unit  a {
    color: @isbDGray;
}

.span12 li {
    margin-top: 2em;
}

.nav .nav-header {
    color: @white;
    background-color: @isbBlueLight;
}

.navbar a {
    color: @white;
}

.pager a{
  font-size:12px;
  line-height:14px;
}

.sideinfo-heading {
    border-bottom-color: @isbGray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.sideinfo {
    margin-top:  80px;
}

.sideEvents {
    background-color: @isbGrayLighter;
}
.sideEvents-heading {
    border-bottom-color: @isbGray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: @isbGrayLighter;
    margin-bottom: 12px;
    padding-bottom: 12px;
}

.page {
  display:none;
}

.sideEventsCell {
     min-height: 2em;
}

.sideEventsCell a {
     color: @isbOrange;
}

.sideEventsCell .text{
    display: table-cell;
    vertical-align:middle;
    font-size: 11px;
    width:70%;
}
.sideEventsCell .image{
    display: table-cell;
    vertical-align:middle;
    width:30%;
    padding:2px;
}
.sideEventsCell .image img{
    width:100%;
}